{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a href="{% url 'post-list' %}">
            <img src="{% static 'images/instagram_logo.png' %}" alt="Instagram Logo" style="width: 200px; height: 80px;" />
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'post-list' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/profile/' %}active{% endif %}" href="{% url 'view_profile' request.user.pk %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/profile/' %}active{% endif %}" href="{% url 'all_users' %}">Search</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/login/' %}active{% endif %}" href="{% url 'register' %}">Sign up</a>
                    </li>

                {% endif %}
            </ul>
        </div>
    </div>
</nav>
