{% extends 'main.html' %}
{% load static %}


{% block content %}

    {% for post in posts %}
        <div>


<!--            <h3><a href="{% url 'view_profile' post.user.pk %}">{{ post.user.username }}</a></h3>-->
            <div style="display: flex; align-items: center;">
    <img src="{{ post.user.profile.profile_pic.url }}" alt="{{ profile.user.username }}'s profile picture" style="border-radius: 50%; width: 40px; height: 40px; margin-right: 10px;">
    <h3><a href="{% url 'view_profile' post.user.pk %}">{{ post.user.username }}</a></h3>

</div>
<br/>
            <img src="{{ post.image.url }}" alt="{{ post.caption }}" width="400" height="300">
            <p>{{ post.caption }}</p>
            <p>uploaded on: {{ post.created_at }}</p>

        </div>
<br/>

    {% endfor %}

{% endblock %}

